<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>München</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Gebäude durchsuchen" #searchbar (ionInput)="getItems($event)" (search)="closeKeyboard($event)"></ion-searchbar>
  <ion-list>
    <button  ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      {{item.name}}
      <p>
        {{item.description}}
      </p>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
