<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedItem.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1> Räume</h1>
  <div *ngIf="items.length<1 &&loadingFinished == true">
    Für dieses Gebäude existieren keine Raum-Daten.
  </div>

  <div *ngIf="items.length>0 &&loadingFinished == true">
    <ion-searchbar placeholder="Räume durchsuchen" (ionInput)="getItems($event)" (search)="closeKeyboard($event)"></ion-searchbar>

    <ion-list>
      <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
        <div>
          {{item.name}}
          <p style="margin-top:5px;">
            Auslastung: {{item.now/item.max | percent:'1.0-0'}}
          </p>
        </div>


      </button>
    </ion-list>
  </div>

</ion-content>
